# Ignore files and directories for training
/for_training/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore test files
/test_files/

*.csv # ignore all csv files in the data directory
/models/*.pkl # ignore the output.pkl file only in the root directory

/models/*.rar # ignore the output.pkl file only in the root directory
/models/
*.model
.git
/.git/
.git/
/.git
*.json
InterviewInsightMine/Question_Tagging/para_seg_mine_search/
output.html
output_files/Markov Chains_0f2a205ae9874418bf8e4a8fcdfcbccb.html
output_files/Markov Chains_6e6cc6dfc7994001b94b2a9504be8ce2.html
output_files/Markov Chains_a158ec30c34b444c949a2387b76e8ae1.html
*.html
